{% extends "index.html" %} {% block title %}Home{% endblock %}
{% block dark %}
<form method="POST">
	<div class="form-check form-switch nav-link active d-md-flex align-items-md-start" >
		<input class="form-check-input nav-link active d-md-flex align-items-md-start" id='dark' style="margin-top: 3px" type="checkbox" {% if user.settings['darkMode'] %} checked {% endif %}>
		<label class="form-check-label d-lg-flex align-items-lg-start" for="switch" STYLE="padding-left: 6px">Dark mode</label>
	</div>
</form>
{% endblock %}
{% block content %}
<body id="page_top"{% if user %}{% if user.settings %}{% if user.settings['darkMode'] %}  style="background: #17171b;  padding-bottom: 140px" {% else %} style="background: #d7dceb;  padding-bottom: 140px" {% endif %}{% endif %}{% endif %} >
<script type="text/javascript">

    var socket = io.connect(window.location.origin, {transports: ['websocket']});

$(document).ready(function() {
    socket.on('message', function (msg) {
        console.log(msg);
    });

    socket.on('update team mates progress', function (team_mates) {
        let progress_list = document.getElementById('team_mates_progress');
        progress_list.innerHTML = '';
        let sec = '';
        for (let i = 0; i < team_mates.length; i++) {
            let m = team_mates[i];
            let name = m[0];
            let num = m[1];
            let dues_num = m[2];
            let color = m[3];
            let dues = `<span class="float-end" style="color: forestgreen; white-space:pre;">No dues</span>`
            if (dues_num) dues = `<span class="float-end" style="color: red; white-space:pre;">Have dues</span>`;
            sec += `<h4 class="small fw-bold" style="color:` + color + `">` + name + dues + `</h4>
            <div>
               <h4 class="small fw-bold"><span class="float-end" style="color: black; padding-left: 20px">` + num.toString() + ` / {{ problems|length }}</span></h4>
            </div>
            <div class="progress progress mb-4">
               <div class="progress-bar bg-gradient-primary"  aria-valuenow="` + (num / {{ problems|length * 100 }}).toString() + `" aria-valuemin="0" aria-valuemax="100" style=" background:` + color + `; width: ` + (num / {{ problems|length * 100 }}).toString() + `%;">
                  <span class="visually-hidden">` + (num / {{ problems|length * 100 }}).toString() + `%</span>
               </div>
            </div>`
        }
        progress_list.innerHTML = sec;
    });

    socket.on('update problem set', function (problems) {
        let problems_list = document.getElementById('today_problems');
        problems_list.innerHTML = '';
        for (let i = 0; i < problems.length; i++) {
            let id = problems[i][0];
            let name = problems[i][1];
            let code = problems[i][2];
            let judge = problems[i][3];
            let solved = problems[i][4];

            let url = 'https://codeforces.com/problemset/problem/' + code;
            let solved_button = ' ';
            if (judge === 'SPOJ') {
                url = 'https://www.spoj.com/problems/' + code;
                solved_button = `<button class="btn btn-primary" type="button" style="background-color:darkcyan; text-align: center;padding-right: 11px;margin-right: 18px;height: 35px;width: 86.125px;" onclick="window.location.href='/solved?id=`+`id`+`&type=new';`+`"><span style="color: white">Solved?</span></button>`
            }
            if (judge === 'Leetcode') {
                url = 'https://leetcode.com/problems/' + code;
                solved_button = `<button class="btn btn-primary" type="button" style="background-color:darkcyan; text-align: center;padding-right: 11px;margin-right: 18px;height: 35px;width: 86.125px;" onclick="window.location.href='/solved?id=`+`id`+`&type=new';`+`"><span style="color: white">Solved?</span></button>`
            }
            let color = 'mintcream';
            if (solved){
                color = 'springgreen';
                solved_button = ' ';}

            let item = `<li class="list-group-item" id=` + id.toString() + ` style="background-color: ` + color + `;">
                            <div class="row align-items-center no-gutters">
                             <div class="col me-2"><span style="font-size: 20px;font-weight: bold;font-family: Nunito, sans-serif;">` + name + `</span></div>
                             <div class="col-auto">`
                + solved_button +
                `<button  class="btn btn-primary" type="button" target='_blank'  style="text-align: center;padding-right: 11px;margin-left: 0px;height: 35px;width: 105.125px;margin-right: 0px;background: rgb(162,62,239);color: var(--bs-body-bg);border-style: none;border-color: var(--bs-blue);" onclick= "window.open('` + url + `','_blank');return false;">` + judge + `</button>
                             </div>
                            </div>
                        </li>`
            $("#today_problems").append(item);
        }
        document.getElementById("refresh-problems").innerHTML = '<i class="fa fa-refresh" style="font-size:24px" ></i>';
    });
});
        async function getReqs(handle) {
            let url = `https://codeforces.com/api/user.status?lang=en&handle=` + handle
            let response = await fetch(url);
            return await response.json();
        }

        function handle_solutions(resp, user_id) {
            let res = resp['result'];
            let codes = [];
            for (let i = 0; i < res.length; i++) {
                let t = res[i]['problem'];
                codes.push(t['contestId'] + '/' + t['index']);
            }
            socket.emit('update solutions for user', user_id, codes);
        }

        function update_team() {
            {# update current user #}
            getReqs('{{user.handle }}').then(data => handle_solutions(data, {{ user.id }}), socket.emit('update problem set'));
            {# update other members#}
            {% for i in team_mates %}
                getReqs('{{ i[0].handle }}').then(data => handle_solutions(data, {{ i[0].id }}
                    {% if i == team_mates|length - 1 %}
                        , socket.emit('update mates progress')
                    {% endif %}
                ));
            {% endfor %}
        }

$(document).ready(function() {
    $("#refresh-problems").on("click", function () {
        document.getElementById("refresh-problems").innerHTML = '<i class="fa fa-refresh fa-spin" style="font-size:24px" disabled></i>'
        update_team();
    });

    $("#dark").on("click", function () {
        if (document.getElementById("dark").checked) {
            document.getElementById("page_top").style.background = "#17171b";
            document.getElementById("content-wrapper").style.background = "#17171b";
            document.getElementById("hello").style.color = "#FFFFFF";
            socket.emit('dark', true);
        } else {
            document.getElementById("page_top").style.background = "#d7dceb";
            document.getElementById("content-wrapper").style.background = "#d7dceb";
            document.getElementById("hello").style.color = "#222222";
            socket.emit('dark', false);
        }
    });

    let intervalId = setInterval(function () {
        update_team();
    }, 60000);

});

socket.on('connect', function () {
    socket.send('connected!');
    {# update solved problems for you and team members #}
    update_team()
});


</script>
{% if not user.team_id %}
<div class="col text-center" style="margin: 1px;"><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/create-team" style="height: 30.8px;width: 121.325px;"><i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;Create Team</a><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/join-team" style="margin: 13px;"><i class="fas fa-road fa-sm text-white-50"></i>&nbsp; Join Existing Team</a></div>
{% else %}
<div class="container-fluid" >
	<div class="d-sm-flex justify-content-between align-items-center mb-4">
		<h3 id='hello' class="mb-0" {% if user.settings['darkMode']  %} style="color: #ffffff" {% else %} style="color: #222222" {% endif %}> Hello, {{ user.name.split()[0] }} </h3>
	</div>
	<div class="card-group"></div>
	<div class="row">
		<div class="col order-first" style="min-width: 400px;">
        	<div class="card">
                <div class="card-header card-header-background d-flex justify-content-between align-items-center">
                    <div class="title-card">
					    <h5 class=" fw-bold m-0 " id="today_title" style="color: darkslateblue">Your Progress</h5>
                    </div>
				</div>
				<div class="card-body" style="padding-top: 16px;">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="row g-0 align-items-center">
								<div class="col-auto">
									<div class="text-dark fw-bold h5 mb-0 me-3"><span>{{ solved|length }} / {{ problems|length }} </span></div>
								</div>
								<div class="col">
									<div class="progress progress-sm">
										{% set my_progress = solved|length / problems|length * 100 %}
										<div class="progress-bar bg-info" aria-valuenow="{{ my_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ my_progress }}%;"><span class="visually-hidden">{{ my_progress }}%</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="card" style="text-align: left;">
				<div class="card-header card-header-background d-flex justify-content-between align-items-center" >
                    <div class="title-card">
                        <h5 class=" fw-bold m-0" id="today_title" style="color: darkslateblue;">Today Problemset</h5>
                    </div>
                    <label class="btn btn-light" id='refresh-problems' type="button">
                        <i class="fa fa-refresh" style="font-size:24px" ></i>
                    </label>
                </div>
				<div class="card-body">
					<ul class="list-group" id="today_problems">
						{% for problem in problems %}
						<li class="list-group-item" {% if problem.id in solved %} style="background-color: springgreen;" {% else %} style="background-color: mintcream;" {% endif %} >
						<div class="row align-items-center no-gutters">
							<div class="col me-2"><span style="font-size: 20px;font-weight: bold;font-family: Nunito, sans-serif;">{{ problem.name }}</span></div>
							{% if problem.judge == 'Codeforces' %}
							{% set url = 'https://codeforces.com/problemset/problem/' + problem.code %}
							{% elif problem.judge == 'SPOJ' %}
							{% set url = 'https://www.spoj.com/problems/' + problem.code %}
							{% endif %}
							<div class="col-auto">
								{% if problem.judge != 'Codeforces' and problem.id not in solved %}
								<button class="btn btn-primary" type="button" style="background-color:darkcyan; text-align: center;padding-right: 11px;margin-right: 18px;height: 35px;width: 86.125px;" onclick="window.location.href='{{ url_for("views.solved", id=problem.id,  type="new") }}';"><span style="color: white">Solved?</span></button>
								{% endif %}
								<button  class="btn btn-primary" type="button" target='_blank'  style="text-align: center;padding-right: 11px;margin-left: 0px;height: 35px;width: 105.125px;margin-right: 0px;background: rgb(162,62,239);color: var(--bs-body-bg);border-style: none;border-color: var(--bs-blue);" onclick= "window.open('{{url}}','_blank');return false;"> {{problem.judge}} </button>
							</div>
						</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<br>
			<div class="card" style="text-align: left;">
				<div class="card-header card-header-background ">
                    <div class="title-card">
					    <h5 class=" fw-bold m-0 " id="today_title" style="color: darkred">Due Problems</h5>
                    </div>
				</div>
				<div class="card-body">
					<ul class="list-group">
						{% for problem in dues %}
						<li class="list-group-item" {% if problem.id in solved %} style="background-color: springgreen;" {% else %} style="background-color: indianred;" {% endif %} >
						<div class="row align-items-center no-gutters">
							<div class="col me-2"><span style="font-size: 20px;font-weight: bold;font-family: Nunito, sans-serif; color: black;">{{ problem.name }}</span></div>
							{% if problem.judge == 'Codeforces' %}
							{% set url = 'https://codeforces.com/problemset/problem/' + problem.code %}
							{% elif problem.judge == 'SPOJ' %}
							{% set url = 'https://www.spoj.com/problems/' + problem.code %}
							{% endif %}
							<div class="col-auto">
								{% if problem.judge != 'Codeforces'%}
								<button class="btn btn-primary" type="button" style="background-color:darkcyan; text-align: center;padding-right: 11px;margin-right: 18px;height: 35px;width: 86.125px;" onclick="window.location.href='{{ url_for("views.solved", id=problem.id,  type="due") }}';"><span style="color: white">Solved?</span></button>
								{% endif %}
								<button  class="btn btn-primary" type="button" target='_blank'  style="text-align: center;padding-right: 11px;margin-left: 0px;height: 35px;width: 105.125px;margin-right: 0px;background: rgb(62,100,20);color: var(--bs-body-bg);border-style: none;border-color: var(--bs-blue);" onclick= "window.open('{{url}}','_blank');return false;">{{ problem.judge }}</button>
							</div>
						</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<br>
		</div>
		<div class="col" style="min-width: 400px;">
			<div class="card">
				<div class="row align-items-center no-gutters" style="padding-top: 4px;">
					<div class="col d-md-flex justify-content-md-center"><label class="col-form-label text-danger" style="font-size: 22px;margin-left: 11px;"><strong>{{team.name}}</strong><br></label></div>
					<div class="col d-md-flex justify-content-md-center"><label class="form-label text-primary" style="font-size: 18px;margin-top: 6px; width: 150px;"><strong>Invitation code&nbsp;</strong></label><input readonly value="{{code}}"  class="d-md-flex align-items-md-center" type="text" style="text-align: center;  height: 26.6px;width: 119.4px;margin-top: 5px;margin-left: 6px;margin-bottom: 8px;margin-right: 6px;"></div>
				</div>
			</div>
			<br>
			<div class="card">
				<div class="card-header card-header-background d-flex justify-content-between align-items-center">
                    <div class="title-card">
					    <h6 class=" fw-bold m-0" style="color: darkslateblue; font-size: 20px; padding-left: 5px">Team mates progress</h6>
                    </div>
				</div>
				<div class="card-body" id="team_mates_progress">
					{% for member, num, color, dues_num in team_mates %}
					{% set m = team_mates[i] %}
					<h4 class="small fw-bold" style="color:{{ color }}">{{ member.name }}
						<span class="float-end" {% if dues_num == 0 %} style="color: forestgreen; white-space:pre;" {% else %}  style="color: red;" {% endif %}> {% if dues_num == 0 %} No dues {% else %}Have dues{% endif %}</span>
					</h4>
					<div>
						<h4 class="small fw-bold" style="color:{{ color }}"><span class="float-end" style="color: black; padding-left: 20px">{{ num }} / {{ problems|length }}</span></h4>
					</div>
					<div class="progress progress mb-4">
						<div class="progress-bar bg-gradient-primary"  aria-valuenow="{{num / problems|length * 100 }}" aria-valuemin="0" aria-valuemax="100" style=" background: {{ color }}; width: {{ num / problems|length * 100 }}%;">
							<span class="visually-hidden">{{ num / problems|length }}%</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}